<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{block title}{/block} - Workshop Testing</title>
    <link rel="stylesheet" href="/assets/vendor/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        {block content}{/block}
    </div>
</body>
</html>
