{layout '@layout.latte'}
{block content}
    <h1 n:inner-block="title">{$title}</h1>

    <table class="table table-striped table-hover table-bordered">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Attack</th>
            <th>Defense</th>
            <th>Speed</th>
        </tr>
        <tr n:foreach="$units as $unit">
            <td>{$unit->getId()}</td>
            <td>{$unit->getName()}</td>
            <td>{$unit->getType()}</td>
            <td>{$unit->getAttack()}</td>
            <td>{$unit->getDefense()}</td>
            <td>{$unit->getSpeed()}</td>
        </tr>
    </table>
{/block}
